<!-- Creacion del header -->
<app-header></app-header>

<body>

  <form [formGroup]="form" (submit)="EnviarDataDetalles()">
    <div class="form-group">
      <div>
        <label for="Descripcion">Descripcion de la Factura:</label>
        <input type="text" id="Descripcion" formControlName="Descripcion">
      </div>
      <div>
        <label for="PrecioUnitario">Precio Unitario:</label>
        <input type="number" id="PrecioUnitario" formControlName="PrecioUnitario">
      </div>
      <div>
        <label for="Cantidad">Cantidad:</label>
        <input type="number" id="Cantidad" formControlName="Cantidad">
      </div>
      <div>
        <label for="Subtotal">SubTotal:</label>
        <input type="number" id="Subtotal" formControlName="Subtotal">
      </div>
      <div>
        <label for="FacturaId">ID de la Cabecera de la factura:</label>
        <input type="text" id="FacturaId" formControlName="FacturaId">
      </div>
      <div>
        <button type="submit" class="button">Crear Detalles de la Factura</button>
      </div>
    </div>
  </form>

  <br/>

  <form [formGroup]="formDelete" (submit)="eliminarFacturaDetalles()">
    <div class="form-group">
      <div>
        <label for="Id_factura_detalle">ID de la Factura:</label>
        <input type="text" id="Id_factura_detalle" formControlName="Id_factura_detalle">
      </div>
      <div>
        <button type="submit" class="button">Eliminar Factura</button>
      </div>
    </div>
  </form>

  <br/>

  <form [formGroup]="formActualizar" (submit)="actualizarFacturaDetalles()">
    <div class="form-group">
      <div>
        <label for="Id_factura_detalle">ID de la Factura detalle:</label>
        <input type="text" id="Id_factura_detalle" formControlName="Id_factura_detalle">
      </div>
      <div>
        <label for="Descripcion">Descripcion de la Factura:</label>
        <input type="text" id="Descripcion" formControlName="Descripcion">
      </div>
      <div>
        <label for="PrecioUnitario">Precio Unitario:</label>
        <input type="number" id="PrecioUnitario" formControlName="PrecioUnitario">
      </div>
      <div>
        <label for="Cantidad">Cantidad:</label>
        <input type="number" id="Cantidad" formControlName="Cantidad">
      </div>
      <div>
        <label for="Subtotal">SubTotal:</label>
        <input type="number" id="Subtotal" formControlName="Subtotal">
      </div>

      <br/>

      <div>
        <button type="submit" class="button">Actualizar Detalles de la Factura</button>
      </div>
    </div>
  </form>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.Id}}</td>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let element">{{element.Descripcion}}</td>
    </ng-container>

    <ng-container matColumnDef="PrecioUnitario">
      <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
      <td mat-cell *matCellDef="let element">{{element.PrecioUnitario}}</td>
    </ng-container>

    <ng-container matColumnDef="Cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let element">{{element.Cantidad}}</td>
    </ng-container>

    <ng-container matColumnDef="Subtotal">
        <th mat-header-cell *matHeaderCellDef>Subtotal</th>
        <td mat-cell *matCellDef="let element">{{element.Subtotal}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>

  <div>
    <h3>
      Seleccion de Factura Detalles
    </h3>
  </div>

  <div *ngIf="!clickedRows.size">
    Selecciona alguna factura y aparece aqui
  </div>

  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      {{clickedRow.Id}}
      {{clickedRow.Descripcion}}
      {{clickedRow.PrecioUnitario}}
      {{clickedRow.Cantidad}}
      {{clickedRow.Subtotal}}
    </li>
  </ul>

</body>

<router-outlet></router-outlet>
