<!-- Creacion del header -->
<app-header></app-header>

<body>

  <form [formGroup]="form" (submit)="EnviarData()">
    <div class="form-group">
      <div>
        <label for="Fecha">Fecha de la Factura:</label>
        <input type="text" id="Fecha" formControlName="Fecha">
      </div>
      <div>
        <label for="Cliente">Numero del Cliente:</label>
        <input type="number" id="Cliente" formControlName="Cliente">
      </div>
      <div>
        <label for="Nombre_Cliente">Nombre del Cliente:</label>
        <input type="text" id="Nombre_Cliente" formControlName="Nombre_Cliente">
      </div>
      <div>
        <label for="Direccion_Cliente">Direccion del Cliente:</label>
        <input type="text" id="Direccion_Cliente" formControlName="Direccion_Cliente">
      </div>
      <div>
        <label for="RUC_Cliente">RUC del Cliente:</label>
        <input type="text" id="RUC_Cliente" formControlName="RUC_Cliente">
      </div>
      <div>
        <label for="Sub_Total">SubTotal:</label>
        <input type="number" id="Sub_Total" formControlName="Sub_Total">
      </div>
      <div>
        <label for="Iva_Cliente">Iva:</label>
        <input type="number" id="Iva_Cliente" formControlName="Iva_Cliente">
      </div>
      <div>
        <label for="Total_Cliente">Total:</label>
        <input type="number" id="Total_Cliente" formControlName="Total_Cliente">
      </div>
      <div>
        <button class="button">Crear Factura</button>
      </div>
    </div>
  </form>

  <br/>

  <form [formGroup]="formDelete" (submit)="eliminarFactura()">
    <div class="form-group">
      <div>
        <label for="Id_factura">ID de la Factura:</label>
        <input type="text" id="Id_factura" formControlName="Id_factura">
      </div>
      <div>
        <button class="button">Eliminar Factura</button>
      </div>
    </div>
  </form>

  <br/>

  <form [formGroup]="formActualizar" (submit)="actualizarFactura()">
    <div class="form-group">
      <div>
        <label for="Id_factura">ID de la Factura:</label>
        <input type="text" id="Id_factura" formControlName="Id_factura">
      </div>
      <div>
        <label for="Fecha">Fecha:</label>
        <input type="text" id="Fecha" formControlName="Fecha">
      </div>
      <div>
        <label for="Cliente">Cliente:</label>
        <input type="number" id="Cliente" formControlName="Cliente">
      </div>
      <div>
        <label for="Nombre_Cliente">Nombre del Cliente:</label>
        <input type="text" id="Nombre_Cliente" formControlName="Nombre_Cliente">
      </div>
      <div>
        <label for="Direccion_Cliente">Direccion del Cliente:</label>
        <input type="text" id="Direccion_Cliente" formControlName="Direccion_Cliente">
      </div>
      <div>
        <label for="RUC_Cliente">RUC del Cliente:</label>
        <input type="text" id="RUC_Cliente" formControlName="RUC_Cliente">
      </div>
      <div>
        <label for="Sub_Total">SubTotal:</label>
        <input type="number" id="Sub_Total" formControlName="Sub_Total">
      </div>
      <div>
        <label for="Iva_Cliente">Iva:</label>
        <input type="number" id="Iva_Cliente" formControlName="Iva_Cliente">
      </div>
      <div>
        <label for="Total_Cliente">Total:</label>
        <input type="number" id="Total_Cliente" formControlName="Total_Cliente">
      </div>
      <div>
        <button class="button">Editar Factura</button>
      </div>
    </div>
  </form>


  <!-- <div class="card">
    <div class="card-content">
      <div style="text-align: center;">
        <h3 *ngFor="let Factura_Id of facturas">Factura {{ Factura_Id.Id }} </h3>
      </div>
      <li *ngFor="let Factura_FechaEmision of facturas">{{ Factura_FechaEmision.FechaEmision }}</li>
      <li *ngFor="let Factura_IdCliente of facturas">{{ Factura_IdCliente.IdCliente }}</li>
      <li *ngFor="let Factura_NombreCliente of facturas">{{ Factura_NombreCliente.NombreCliente }}</li>
      <li *ngFor="let Factura_DireccionCliente of facturas">{{ Factura_DireccionCliente.DireccionCliente }}</li>
      <li *ngFor="let Factura_RucCliente of facturas">{{ Factura_RucCliente.RucCliente }}</li>
      <li *ngFor="let Factura_Subtotal of facturas">{{ Factura_Subtotal.Subtotal }}</li>
      <li *ngFor="let Factura_Iva of facturas">{{ Factura_Iva.Iva }}</li>
      <li *ngFor="let Factura_Total of facturas">{{ Factura_Total.Total }}</li>
    </div>
  </div> -->

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.Id}}</td>
    </ng-container>

    <ng-container matColumnDef="FechaEmision">
      <th mat-header-cell *matHeaderCellDef>Fecha de Emision</th>
      <td mat-cell *matCellDef="let element">{{element.FechaEmision}}</td>
    </ng-container>

    <ng-container matColumnDef="IdCliente">
      <th mat-header-cell *matHeaderCellDef>ID del cliente</th>
      <td mat-cell *matCellDef="let element">{{element.IdCliente}}</td>
    </ng-container>

    <ng-container matColumnDef="NombreCliente">
      <th mat-header-cell *matHeaderCellDef>Nombre del cliente</th>
      <td mat-cell *matCellDef="let element">{{element.NombreCliente}}</td>
    </ng-container>

    <ng-container matColumnDef="DireccionCliente">
        <th mat-header-cell *matHeaderCellDef>Direccion del Cliente</th>
        <td mat-cell *matCellDef="let element">{{element.DireccionCliente}}</td>
    </ng-container>

    <ng-container matColumnDef="RucCliente">
      <th mat-header-cell *matHeaderCellDef>RUC del Cliente</th>
      <td mat-cell *matCellDef="let element">{{element.RucCliente}}</td>
    </ng-container>

    <ng-container matColumnDef="Subtotal">
      <th mat-header-cell *matHeaderCellDef>Subtotal</th>
      <td mat-cell *matCellDef="let element">{{element.Subtotal}}</td>
    </ng-container>

    <ng-container matColumnDef="Iva">
      <th mat-header-cell *matHeaderCellDef>Iva</th>
      <td mat-cell *matCellDef="let element">{{element.Iva}}</td>
    </ng-container>

    <ng-container matColumnDef="Total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">{{element.Total}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>

  <div>
    <h3>
      Seleccion de Factura Detalles
    </h3>
  </div>

  <div *ngIf="!clickedRows.size">
    Selecciona alguna factura y aparece aqui
  </div>

  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      {{clickedRow.Id}}
      {{clickedRow.Descripcion}}
      {{clickedRow.PrecioUnitario}}
      {{clickedRow.Cantidad}}
      {{clickedRow.Subtotal}}
    </li>
  </ul>



</body>

<router-outlet></router-outlet>
